<div class="container">
  <div class="top">
    <div class="location">
      <button mat-button><mat-icon>room</mat-icon></button>
      <mat-label tabindex="1">Location</mat-label>
    </div>
    <div class="phone">
      <button mat-button><mat-icon>phone</mat-icon></button>
      <mat-label tabindex="1">Call +237678908764</mat-label>
    </div>
    <div class="mail">
      <button mat-button><mat-icon>mail</mat-icon></button>
      <mat-label tabindex="1">johndoe@gmail.com</mat-label>
    </div>
    <div class="send-mail">
      <input type="email">
    </div>
  </div>
  <div class="middle">
    <div class="first">
      <mat-label>FLORAM</mat-label>
    </div>
    <div class="second">
      <button mat-button><mat-icon>facebook</mat-icon></button>
      <button mat-button><mat-icon>facebook</mat-icon></button>
      <button mat-button><mat-icon>facebook</mat-icon></button>
      <button mat-button><mat-icon>facebook</mat-icon></button>
    </div>
  </div>
  <hr>
  <h3>© 2022 All Rights Reserved By Free Html Templates</h3>
</div>
