.container{
  width: 100%;
}

h1{
  font-weight: bold;
  font-size: 2rem;
}

.container h1,
.container h3{
  text-align: center;
}

mat-card > *{
  height: 50%;
}

.cards{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards > mat-card{
  width: 30%;
  text-align: center;
  margin: 2px;
  background-color: white;
  color: black;
}

hr{
  color: gray;
}

.cards > mat-card > .box img{
  width: 100%;
  height: 100%;
}

.cards > mat-card > .box1{
  object-fit: fill;
}

@media(max-width: 850px){
  .cards mat-card{
    width: 80%;
    margin: auto;
  }
}

#view-more, #view-less{
  color: white;
  background-color: #4E7F6A;
  margin-left: 46%;
  align-self: center;
  margin-bottom: 1%;
}

mat-card button{
  background-color: #F89646;
}

mat-card-footer .star{
  color: #4E7F6A;
  background-color: transparent;
}


mat-card-footer .starStyle{
  color: #F89646;
}

.star-toggle{
  color: #F89646;
}

