<div class="container">
  <h1>Latest From Blog</h1>
  <div class="blog-articles">
    <mat-card>
      <mat-card-content class="box box1">
          <img src="assets/images/b1.jpg" alt="Blog article">
      </mat-card-content>
      <mat-card-footer>
        <div class="footer-content">
          <h2>Look even slightly believable. If you are</h2>
        <h3>alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h3>
        <button mat-button>Read more</button>
        </div>
      </mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-content class="box box1">
          <img src="assets/images/b2.jpg" alt="Blog article">
      </mat-card-content>
      <mat-card-footer>
        <div class="footer-content">
          <h2>Look even slightly believable. If you are</h2>
        <h3>alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h3>
        <button mat-button>Read more</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
