<div class="container">
    <!-- <ng-marquee speed="drowsy" [stopOnHover]="true"> -->
     <div class="marquee-content">
      <div class="left">
        <div class="title">
         <h1> We sell the best fruits</h1>
        </div>
        <div class="content">
          <p>Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing hidden in the middle of text. All the Lorem Ipsumm</p>
          <button id="green" mat-button routerLink="/fruits">Read More</button>
          <button id="orange" mat-button routerLink="/contact-us">Contact Us</button>
        </div>
      </div>
      <div class="right box">
        <img src="assets/images/slider-img.png" alt="slider Image">
      </div>
     </div>
    <!-- </ng-marquee> -->
    <div class="middle">
      <div class="m-left test">
        <img src="assets/images/o1.jpg" alt="Berry">
      </div>
      <div class="m-right test1">
        <img src="assets/images/o2.jpg" alt="Orange">
        <img id="paw" src="assets/images/o3.jpg" alt="Pawpaw">
      </div>
    </div>
  <app-fruits></app-fruits>
  <br>
  <br>
  <app-about></app-about>
  <br>
  <br>
  <app-blog></app-blog>
  <br>
  <br>
</div>
